<blog-navbar></blog-navbar>
<section class="container-fluid">
  <div class="container">
    <div class="row px-3 pt-5 pb-3">
      <div class="col-12 col-md-8 p-0 m-0">
        <h1 class="title">{{recipe?.name}}</h1>
      </div>
      <div class="col-12 col-md-4">
        <div class="content-card-review mx-0 d-block my-3" (click)="reviewRecipe()">
          <i class="fas fa-star p-2" [style.color]="recipe?.rateAverage > 0.5?'orange':'lightgrey'"></i>
          <i class="fas fa-star p-2" [style.color]="recipe?.rateAverage > 1.5?'orange':'lightgrey'"></i>
          <i class="fas fa-star p-2" [style.color]="recipe?.rateAverage > 2.5?'orange':'lightgrey'"></i>
          <i class="fas fa-star p-2" [style.color]="recipe?.rateAverage > 3.5?'orange':'lightgrey'"></i>
          <i class="fas fa-star p-2" [style.color]="recipe?.rateAverage > 4.5?'orange':'lightgrey'"></i>
          <div class="p-2 d-inline-block"><span>{{recipe?.rateCount || 0}} review</span></div>
        </div>
      </div>
      <div class="col-12 col-md-8 p-0 m-0">
        <p class="subtitle">{{recipe?.description}}</p>
      </div>            
    </div>
    <div class="row">
      <div class="col-12 col-md-8 position-relative">
        <div class="save-button mr-1 d-block position-absolute">        
          <div *ngIf="!blnRecipeSaved" class="save-button-action save-button-action--save button-large button-circle" (click)="saveToMyRecipes()">          
            <i class="save-button-icon fas fa-plus mr-2"></i>
            <span class="save-button-text">opslaan</span>
          </div>
          <div *ngIf="blnRecipeSaved" class="save-button-action save-button-action--saved button-large button-circle">
            <i class="save-button-icon fas fa-check mr-2"></i>
            <span class="save-button-text">opgeslagen</span>
          </div>
        </div>
        <div class="recipe-carousel" [style.background-image]="'url(' + recipe?.images[0]?.source + ')'"></div>
      </div>
    </div>
    <div class="row">        
      <div class="col-12 col-md-8 recipe-panel-info">
        <div class="recipe-panel-social"></div>
        <div class="recipe-panel-about">
          <div *ngIf="!blnShowSource" (click)="showSource()" style="cursor: pointer; color: #a0a0a0;">Source</div>
          <div *ngIf="blnShowSource" style="color: #a0a0a0;">
            <div>
              <small>Recept geïnspireerd door: <span>{{recipe?.source?.name}}</span></small>
              <small style="float: right;">Image: {{recipe?.images[0]?.insp}}</small>
            </div>
            <div>
              <span>{{recipe?.source?.link}}</span>
            </div>                                    
          </div>
        </div>
        <div class="row m-3 text-center recipe-panel-stats">
          <div class="time col-4 p-0" style="border-right: 1px solid #e0e0e0">
            <div><strong>tijd</strong></div>
            <!-- <div class="row m-0"> -->
              <!-- <div class="col-6 p-0" style="width: 50%;">                 -->
                <div>{{recipe?.time_spend?.totalTime}}</div>
              <!-- </div>
              <div class="col-6 p-0">                 -->
                <!-- <div>{{recipe?.time_spend?.cookTime}}</div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
          <div class="healthy col-4 p-0" style="border-right: 1px solid #e0e0e0">
            <div><strong>Gezond</strong></div>
            <div>{{recipe?.health_index}}</div>
          </div>
          <div class="difficutly col-4 p-0">
            <div><strong>moeilijkheid</strong></div>
            <div>{{recipe?.difficulty_index}}</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  <div class="container instuctions-container pb-5" style="border-bottom: 2px solid #f2f2f2;">
    <div class="row p-0 m-0">
      <div class="col-12 col-md-8 pt-4">      
        <div class="row instructions-content" style="">
          <div class="col-12 col-md-6 pr-5 ingredients-container">
            <div class="ingredients-title">
              <h2>ingrediënten</h2>
            </div>
            <div class="ingredients-info">
              <ul class="ingredients-list">
                <li *ngFor="let ing of recipe?.ingredients" class="ingredients-list-item">{{ing}}</li>                
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 prep-container">
            <div class="prep-title">
              <h2>bereiding</h2>
            </div>
            <div class="prep-info">
              <div *ngFor="let prep of recipe?.recipeInstructions" class="prep-info-item pb-2">
                {{prep}}
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="row p-0 m-0">
      <div class="col-12 col-md-8 pt-4">
        <div class="nutrition-title">
          <h2>voedingswaarde informatie</h2>
        </div>
        <div class="nutrition-info">
          <ul class="nutrition-list">
            <li *ngFor="let nut_item of recipe?.nutrition" [ngSwitch]="nut_item.descr" class="nutrition-list-item">
              <div *ngSwitchCase="'calories'">
                <div *ngIf="nut_item.a != '0' && nut_item.a != ''" class="pt-1" style="font-weight: 500;"><span class="text-transform: uppercase;">energie</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'carbs'">
                <div *ngIf="nut_item.a != '0' && nut_item.a != ''" class="pt-1" style="font-weight: 500;"><span class="text-transform: uppercase;">koolhydraten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'starch'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">zetmeel</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'sugar'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">suiker</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'fiber'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">vezels</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'fat'">
                <div *ngIf="nut_item.a != '0' && nut_item.a != ''" class="pt-1" style="font-weight: 500;"><span class="text-transform: uppercase;">vetten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'sat_fat'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">verzadingd vetten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'mono_fat'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">mono onverzadigd vetten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'poly_fat'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">poly onverzadigd vetten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'transfat'">
                <div class="pl-5 pt-1" *ngIf="nut_item.a != '0' && nut_item.a != ''"><span class="text-transform: uppercase;">transvetten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'protein'">
                <div *ngIf="nut_item.a != '0' && nut_item.a != ''" class="pt-1" style="font-weight: 500;"><span class="text-transform: uppercase;">eiwitten</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
              <div *ngSwitchCase="'cholesterol'">
                <div *ngIf="nut_item.a != '0' && nut_item.a != ''" class="pt-1" style="font-weight: 500;"><span class="text-transform: uppercase;">cholesterol</span> <span style="float: right;">{{nut_item.a}} {{nut_item.u}}</span></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
  
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="col-12 col-md-8 pt-4 px-0">
        <ul class="p-0 m-0">
          <li *ngFor="let pill of recipe?.tags" class="d-inline-block p-0 m-1">
            <span [routerLink]="['/recipes', {search: pill}]" class="badge badge-pill badge-light px-3 py-2 mx-1" style="background-color: darkorange; color: white; cursor: pointer;">{{pill}}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="row p-0 m-0">
      <div class="col-12 col-md-8 pt-4">
        <div class="review-title">
          <h2>reviews</h2>
        </div>
        <div class="review-info">
          <ul class="review-list">
            <li class="review-list-item">sqdf</li>            
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-4">
  
      </div>
    </div> -->
  </div>
</section>
<blog-footer></blog-footer>

<button class="d-none" #openRateRecipeModal id="openRateRecipeModal" data-toggle="modal" data-target="#rateRecipeModal"></button>
<div id="rateRecipeModal" #rateRecipeModal class="modal fade" role="dialog">
  <div *ngIf="blnLoggedIn && !user_recipe_rate" class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Welke beoordeling verdient dit recept?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <div class="modal-body">
          <div class="my-4">
            <span>Klik op een ster en verstuur je beoordeling</span>
          </div>
          <div class="rate-content-card d-block mx-0 mt-3 mb-5">
            <i class="fas fa-star p-2" (click)="setRate(5)"></i>
            <i class="fas fa-star p-2" (click)="setRate(4)"></i>
            <i class="fas fa-star p-2" (click)="setRate(3)"></i>
            <i class="fas fa-star p-2" (click)="setRate(2)"></i>
            <i class="fas fa-star p-2" (click)="setRate(1)"></i>                             
          </div>
        </div>          
      </div>
    </div>
    <div *ngIf="blnLoggedIn && user_recipe_rate" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uw beoordeling voor dit recept.</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="my-4">
            <span>U hebt al een beoording gegeven voor dit recept.</span>
          </div>
          <div class="content-card-review mx-0 d-block my-3">
            <i class="fas fa-star p-2" [style.color]="user_recipe_rate?.value > 0.5?'orange':'lightgrey'"></i>
            <i class="fas fa-star p-2" [style.color]="user_recipe_rate?.value > 1.5?'orange':'lightgrey'"></i>
            <i class="fas fa-star p-2" [style.color]="user_recipe_rate?.value > 2.5?'orange':'lightgrey'"></i>
            <i class="fas fa-star p-2" [style.color]="user_recipe_rate?.value > 3.5?'orange':'lightgrey'"></i>
            <i class="fas fa-star p-2" [style.color]="user_recipe_rate?.value > 4.5?'orange':'lightgrey'"></i>
            <div class="p-2 d-inline-block"><span>{{user_recipe_rate?.value || 0}}</span></div>
          </div>          
        </div>
      </div>
    </div>
    <div *ngIf='!blnLoggedIn' class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Log in</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
          <div class="m-5">
            <label class="d-block">Login en geef dit recept uw beoordeling</label>
            <a class="" (click)="onCallToAction('login')" style="color: darkcyan; cursor: pointer;">Login</a>
          </div>
          <div class="m-5">
            <label class="d-block mb-3">Nog geen account?</label>
            <a class="button" (click)="onCallToAction('register')">Join ons!</a>
          </div>
        </div>          
      </div>
    </div>    
  </div>