<div class="user-courses-navbar">      
  <div class="user-courses-navbar navbar navbar-fixed-top bg-info">    
    <div class="navbar-brand text-white">
      happy plate academy
    </div>
    <div class="navbar-right">
      
    </div>    
  </div>
</div>

<div class="row justify-content-center choose-create-lesson">
  <div class="text-center col-8 p-4 m-5">
    <div class="d-inline-block m-2" style="height: 150px; width: 150px; border: 1px solid #e0e0e0;">
      <button class="" style="height: 100%; width: 100%; background-color: #fff; text-decoration: none;" (click)="onChooseLessonType('text')">tekst</button>    
    </div>
    <div class="d-inline-block m-2" style="height: 150px; width: 150px; border: 1px solid #e0e0e0;">
      <button class="" style="height: 100%; width: 100%;" (click)="onChooseLessonType('audio')">audio</button>
    </div>
    <div class="d-inline-block m-2" style="height: 150px; width: 150px; border: 1px solid #e0e0e0;">
      <button class="" style="height: 100%; width: 100%;" (click)="onChooseLessonType('film')">film</button>
    </div>    
  </div>  
</div>


<!-- VIDEO -->
<div *ngIf="blnShowVideoType" class="create-lesson-content">
  <div class="container">
    <div class="row justify-content-center pt-5">      
      <div class="col-12 col-md-8">
        <div class="py-1">
          <div class="input-group input-group-lg">         
            <input type="text" [(ngModel)]="title" class="create-lesson-title form-control" aria-label="titel" aria-describedby="inputGroup-sizing-lg" placeholder="Type hier de titel van de les...">
          </div>
        </div>
        
        <div class="py-1">
          <div class="input-group input-group-lg">
            <input type="text" [(ngModel)]="videocode" class="form-control" aria-label="youtube video code">
          </div>
        </div>

        <!-- This is only for testing if the video works -->
        <iframe [src]='safeURL' width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>  
</div>

<!-- AUDIO -->
<div *ngIf="blnShowAudioType" class="create-lesson-content">
  <div class="container">
    <div class="row justify-content-center pt-5">

      <div class="col-12 col-md-8">
        <div class="py-1">
          <!-- <div><h5>Titel:</h5></div> -->
          <div class="input-group input-group-lg">         
            <input type="text" [(ngModel)]="title" class="create-lesson-title form-control" aria-label="titel" aria-describedby="inputGroup-sizing-lg" placeholder="Type hier de titel van de les...">
          </div>
        </div>
      </div>

      <div class="col-12 col-md-8">
        <!-- <audio controls>        
          <source src="../../assets/introAudio.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio> -->

        <div class="button">
          <i class="icon-file far fa-image"></i>
          <input class="input-file" type="file" name="file" accept=".mp3,audio/*" (change)="onAudioFileChanged($event)">
        </div>

        <a class="btn btn-info" (click)="saveAudioLesson()" style="color: white;">Save</a>

      </div>
    </div>
  </div>
</div>

<!-- TEXTLESSON -->
<div *ngIf="blnShowTextType" class="create-lesson-content">
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-8">
        <div class="py-1">
          <div class="input-group input-group-lg">         
            <input type="text" [(ngModel)]="title" class="create-lesson-title form-control" aria-label="titel" aria-describedby="inputGroup-sizing-lg" placeholder="Type hier de titel van de les...">
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-8"> 
        <quill-editor [(ngModel)]="tekst"
          placeholder="Enter Text"
          [modules]="quillConfig"
          style="height: 80vh"> <!--(onSelectionChanged)="onSelectionChanged($event)" (onContentChanged)="onContentChanged($event)"-->
        </quill-editor>
        <div class="row py-3">
          <a class="btn btn-info" (click)="save()" style="color: white;">Save</a>
          <span *ngIf="last_saved != '' && last_saved != null" class="px-5 pt-3">Last saved: {{last_saved}}</span>
        </div>
      </div>
    </div> 
  <div>
</div>