.textEditor-controls{
    border: 1px solid #e0e0e0;    
    border-radius: 50px;
    width: 475px;
}

.textEditor-control-list{
    margin: 0;
    padding: 3px;
}

.textEditor-textArea{
    border: 1px solid #e0e0e0;
    height: 50vh;        
}

.textEditor-textArea:focus{
    outline: none;
}

.textEditor-item{
    padding: 5px;
}

.button{ 
    background: white;
    border: none;
    padding: 10px;
    
}

li{
    display: inline-block;     
}
