<div class="container-fluid login-container">
  <div class="container h-auto">
    <div class="row justify-content-center inner-box">
      <div class="col-12 col-md-4 d-relative p-4 left-box">
        <h1>Ga aan de slag met happy plate</h1>
        <ul class="login-offer">
          <li>Persoonlijk voedingsadvies</li>
          <li>Persoonlijke maaltijdplannen</li>
          <li>Volg je vooruitgang</li>          
        </ul>
        <img class="login-img background-1 d-absolute">
      </div>
      <div class="col-12 col-md-8">
        
      </div>
    </div>
  </div>
</div>