.login-container{
    background-color: #F5F6F7;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
}

.inner-box{ 
    margin-top: 200px;
    margin-bottom: 200px;
    height: 50%;
    box-shadow: 0 8px 20px #e3e7ea;
}

.left-box{
    z-index: 1000;
    height: 100%;
    /* width: 383px; */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.left-box h1{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
}

.login-offer{
    font-size: 14px;    
    list-style: none;
    margin-top: 22px;
    margin-bottom: 0px;
    letter-spacing: 0.53px;
    line-height: 39px;
    /* color: rgba(255,255,255,0.72); */
    /* position: absolute; */
    right: 25px;
    top: 130px;
    padding-left: 40px;
}

.login-img{    
    bottom: 0;
    left: 0;
}

.background-1{
    background-image: url("../../assets/pexels-photo-1640773.jpeg");
    background-size: cover;
    background-position: center center; 
}