<blog-navbar></blog-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <form [formGroup]="loginForm" class="" novalidate (ngSubmit)="onLogin(loginForm.value)">            
        <div class="form-group">
          <label class="control-label">Email</label>
          <input formControlName="email" #email type="text" class="form-control" aria-label="Email" aria-describedby="basic-addon1">
          <small *ngIf="loginForm.controls['email'].hasError('required') && !loginForm.controls['email'].untouched" class="form-text" style="color: red;">Gelieve een correct email in te vullen</small>
        </div>
        <div class="form-group">
          <label class="control-label">Paswoord</label>
          <input formControlName="password" #password type="password" class="form-control" aria-label="password" aria-describedby="basic-addon1">
          <small *ngIf="loginForm.controls['password'].hasError('required') && !loginForm.controls['password'].untouched" class="form-text" style="color: red;">Gelieve uw paswoord in te vullen</small>
        </div>
        <div class="form-group">
          <div *ngIf="blnError" class="alert alert-danger" role="alert">
            {{errorMsg}}
          </div>
        </div>        
        <div class="signIn-form-actions mt-4 text-center">
          <button type="submit" class="btn btn-started" [class.disabled]="!loginForm.valid" [disabled]="!loginForm.valid">Log in</button>
        </div>					
      </form>       -->
    </div>
  </div>
</div>