.navbar{
    /* background-color: #a8b33d; */
    padding: 0rem 1rem;
}

.navbar-brand {
    float: left;
    padding: 7px 15px;
    font-size: 22px;
    line-height: 36px;
    height: 50px;
    font-weight: 500;
}

.course-content{
    overflow-x: scroll;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 970px;
    }
}

.lecture-control-cta{
    cursor: pointer;
}

.course-content-text{
    font-family: "avenir-next", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #5e6971;
}

.user-course-sidebar{
    z-index: 1049;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 300px;
    border-right: 1px solid #e4e8f5;
    background-color: #f7f8fc;
}

.user-course.sidebar-active .user-course-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.user-course.sidebar-active .user-course-content {
    padding-left: 300px;
}

.user-course.sidebar-active .user-course-content.navbar, .user-course.sidebar-active .course-content {
    left: 300px;
}

.course-content{
    height: calc(100vh - 66px);    
}

.user-course .user-course-sidebar, .user-course .user-course-content, .user-course .user-course-navbar {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.user-site-course a.toggle-sidebar {
    display: block;
    width: 30px;
    height: 50px;
    background-size: contain;
}

.sidebar-section-list{
    padding: 0px 20px;
    font-size: 14px;
    /* font-weight: 100; */
}

.sidebar-section {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 30px;
}

.sidebar-section-name{
    margin-bottom: 10px;
    clear: both;
    font-weight: 500;
    color: #a3c4ca;
}

.section-block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.section-block a {
    cursor: pointer;
    color: #5B5F70;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.section-block a:hover, .section-block a.active {
    border-left: 2px solid #a3c4ca;
    margin-left: 2.5%;
    padding-left: 2.5%;
}

.section-block a.active .block-link a:hover {
    border-color: #a3c4ca;
}

.section-block a.viewed:not(.active) {
    color: rgba(91,95,112,0.5);
}

.section-block a.viewed:not(.active) span {
    text-decoration: line-through;
}

.disabled{
    cursor: not-allowed;
    color: #e0e0e0 !important;
}

h1{
    font-size: 2.5rem;
}

h3{
    font-size: 1.2rem;
}

h1,h3{
    font-family: inherit;
    font-weight: 300;
    line-height: 1.25;
    color: #36434d;
}

a{
    color: #a3c4ca;
}

.text-xs{
    font-size: 14px;
}

.ph7 {
    padding-left: 4.688rem !important;
    padding-right: 4.688rem !important;
}

.pv6, footer {
    padding-top: 3.125rem !important;
    padding-bottom: 3.125rem !important;
}