<div class="user-course" [class.sidebar-active]="blnSidebar">
  <div class="user-course-content">
    <!--NAV-->
    <div class="user-course-navbar">      
      <div class="user-course-navbar navbar navbar-fixed-top bg-info">
        <div class="navbar-left">
          <a class="toggle-sidebar" (click)="toggleSidebar()" style="cursor:pointer;">
            <i class="fas fa-bars text-white"></i>
          </a>
        </div>
        <div class="navbar-brand text-white">
          happy plate academy
        </div>
        <div class="navbar-right"></div>
      </div>
    </div>
    <!--CONTENT-->
    <div class="row justify-content-center m-0 p-3 lecture-controls">
      <div class="col-6 p-0 text-center lecture-control-cta lecture-controls--previous" style="border-right: 1px solid #e0e0e0;">
      <a class="p-3" [class.disabled]="checkPreviousLesson()" (click)="a != 0 || i != 0?previousLesson():null" >
          <i class="fas fa-arrow-left mr-3"></i>
          Vorige les
      </a>
      </div>
      <div class="col-6 p-0 text-center lecture-control-cta lecture-controls--next" [class.disabled]="checkNextLesson()" (click)="a != sections.length - 1 || i != sections[sections.length - 1].lessons.length - 1?nextLesson():null">        
        volgende les
        <i class="fas fa-arrow-right ml-3"></i>
      </div>
    </div>
    <mat-progress-bar class="course-content-progress" mode="determinate" [value]="progress" style="position: relative;"></mat-progress-bar>
    <div #scrollcontent (scroll)="checkScrollposition($event)" class="course-content">      
      <div class="container">
        <!-- TITLE -->
        <div class="row">
          <div class="col-12">
            <div class="text-center py-5">
              <h1>{{subject}}</h1> <!--1. The setting: framework and main flow (1m)-->
            </div>
          </div>
        </div>
        <!-- BODY -->
        <div class="row" style="min-height: 50vh;">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="course-content-text">
              <div #el [innerHtml]="text"></div>
            </div>
          </div>
        </div>
        <!-- FOOTER -->
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 py-5">
            <div>              
              <a *ngIf="a != 0 || i != 0" class="btn btn-info" (click)="previousLesson()" style="width: 100px; color: white; float: left;">Previous</a>
              <a *ngIf="a != sections.length - 1 || i != sections[sections.length - 1].lessons.length - 1" class="btn btn-info" (click)="nextLesson()" style="width: 100px; color: white; float: right;">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-course-sidebar">
    <div class="hidden-xs px-3 py-4 text-center">
      <h3>Table of contents</h3>
    </div>
    <div class="sidebar-section-list">
      <div *ngFor="let section of sections; let a = index;" class="sidebar-section">
        <div class="sidebar-section-name">
          <a>{{section.name}}</a>
        </div>
        <div *ngFor="let lesson of section.lessons; let i = index;" class="section-block">
          <a [class.active]="lesson.active" [class.viewed]="lesson.viewed" (click)="activatePost(a,i)"><i class="far fa-file-alt mr-1"></i><span>{{lesson.name}}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>