<div class="user-course" [class.sidebar-active]="blnSidebar">
  <div class="user-course-content">
    <!--NAV-->
    <div class="user-course-navbar">      
      <div class="user-course-navbar navbar navbar-fixed-top">
        <div class="navbar-left">
          <a class="toggle-sidebar" (click)="toggleSidebar()" href="#">
            <i class="fas fa-bars text-white"></i>
          </a>
        </div>
        <div class="navbar-brand text-white">
          happy plate academy
        </div>
        <div class="navbar-right"></div>
      </div>
    </div>
    <!--CONTENT-->
    <div class="course-content">
      <div class="container">
        <!-- TITLE -->
        <div class="row">
          <div class="col-12">
            <div class="text-center py-5">
              <h1>1. The setting: framework and main flow (1m)</h1>
            </div>
          </div>
        </div>
        <!-- BODY -->
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="course-content-text">
              <div>
                  Hi, thanks for checking out this course. I wish you good luck on your entrepreneurial journey. 

                  This course consists of 4 lessons, each of them deals with one of 4 vital questions about your business that you must be able to answer. This will help you to start your business and to being able to maintain and grow it.  Together they will form a strong business plan that will allow you to grow further.                   
                  Each lesson has a theoretical background giving you the information needed to understand:
              </div>
            </div>
          </div>
        </div>
        <!-- FOOTER -->
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1 py-5">
            <div>              
              <a *ngIf="a != 0 || i != 0" class="btn btn-info" (click)="previousLesson()" style="width: 100px; color: white; float: left;">Previous</a>
              <a *ngIf="a != sections.length - 1 || i != sections[sections.length - 1].posts.length - 1" class="btn btn-info" (click)="nextLesson()" style="width: 100px; color: white; float: right;">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-course-sidebar">
    <div class="hidden-xs px-3 py-4 text-center">
      <h3>Table of contents</h3>
    </div>
    <div class="sidebar-section-list">
      <div *ngFor="let section of sections; let a = index;" class="sidebar-section">
        <div class="sidebar-section-name">
          <a>{{section.sub}}</a>
        </div>
        <div *ngFor="let post of section.posts; let i = index;" class="section-block">
          <a [class.active]="post.active" [class.viewed]="post.viewed" (click)="activatePost(a,i)" href="#"><i class="far fa-file-alt mr-1"></i><span>{{post.subject}}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>