<footer class="container-fluid py-0">
  <div class="container footer-container">
    <div class="row">
      <div class="col-3">
        <h5>Support</h5>
        <ul style="margin: 0; padding: 0; list-style: none;">
          <li style="padding: 0; margin: 0;">
            FAQ
          </li>
          <li>Contacteer ons</li>
          <li>Feedback</li>
          <li>Advertise</li>
          <li>Privacy policy</li>
          <li>Press</li>
          <li routerLink="/create_recipe"><i class="fas fa-carrot"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>