<footer class="container-fluid py-0">
  <div class="container footer-container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <!-- <h5>Support</h5> -->
        <ul style="margin: 0; padding: 0; list-style: none;">
          <li class="d-inline" style="padding: 0; margin: 0;">
            FAQ
          </li>
          <li class="d-inline mx-5">Contacteer ons</li>
          <li class="d-inline mx-5">Feedback</li>
          <li class="d-inline mx-5">Advertise</li>
          <li class="d-inline mx-5">Privacy policy</li>
          <li class="d-inline mx-5">Press</li>
          <li class="d-inline mx-5" routerLink="/create_recipe"><i class="fas fa-carrot"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>