<div class="edit-lesson-navbar navbar navbar-fixed-top bg-info">    
  <div class="navbar-brand text-white">
    happy plate academy
  </div>
  <div class="navbar-right">
    
  </div>    
</div>
<div class="edit-lesson-content">
  <div class="container">
    <div class="row justify-content-center py-5">      
      <div class="col-12 col-md-8">
        <div class="py-1">        
          <div class="input-group input-group-lg">         
            <input type="text" [(ngModel)]="title" class="edit-lesson-title form-control" aria-label="titel" aria-describedby="inputGroup-sizing-lg" placeholder="Type hier de titel van de les...">
          </div>
        </div>
      </div>      
      <div class="col-12 col-md-8">        
        <div class="py-3">
          <div class="container textEditor">
            <div class="row justify-content-center">
              <div class="textEditor-controls">
                <ul class="textEditor-control-list">
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-bold" (click)="bold($event)"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-italic" (click)="italic($event)"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-underline" (click)="underline($event)"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-heading" (click)="onHeader1($event)">1</button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-heading" (click)="onHeader2($event)">2</button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-heading" (click)="onHeader3($event)">3</button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-highlighter" (click)="highlight()"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-align-center" (click)="justifyCenter($event)"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-align-left" (click)="justifyLeft($event)"></button>
                    </div>
                  </li>
                  <li>
                    <div class="textEditor-item">
                      <button class="button fas fa-align-right" (click)="justifyRight($event)"></button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div #el1 class="col-12 textEditor-textArea" [innerHTML]="tekst" (blur)="onBlur(el1.innerHTML)" contenteditable="true" style="overflow-y: scroll" placeholder="Type hier de inhoud van de les..."></div>      <!---->
        </div>   
        <div class="row py-3">
          <a class="btn btn-info" (click)="save()" style="color: white;">Save</a>      
          <span *ngIf="last_saved != '' && last_saved != null" class="px-5 pt-3">Last saved: {{last_saved}}</span>
        </div>
      </div>
    </div> 
  <div>
</div>
