.edit-lesson-title{
    border: none;
    padding: .5rem 0rem;
}

.textEditor-controls{
    border: 1px solid #e0e0e0;    
    border-radius: 50px;
    width: 475px;
}

.textEditor-control-list{
    margin: 0;
    padding: 3px;
}

.textEditor-textArea{
    border: 1px solid #e0e0e0;
    height: 50vh;        
}

.textEditor-textArea:focus{
    outline: none;
}

.textEditor-item{
    padding: 5px;
}

.button{ 
    background: white;
    border: none;
    padding: 10px;
    
}

li{
    display: inline-block;     
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
    color: #6c757d;
  }

.textEditor-textArea{
    border: none;
    padding: 0.5rem 0rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.textEditor-textArea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);    
}