<header class="container-fluid header-wrapper">
  <div class="container header-container">
    <div class="row justify-content-center header-row">
      <div class="col-12 header-column">
        <div class="header-brand-container">
          <a routerLink="/blog"><span class="header-brand-container-logo">Happy Plate Blog</span></a>
        </div>
        <div class="header-content">
          
        </div>
      </div>
    </div>
  </div>
</header>
<section class="container-fluid">
  <div class="container upper-menu-container">
    <div class="row p-0">
      <div class="col-12 upper-menu">
        <ul class="upper-menu-list p-0 m-0">
          <li class="upper-menu-list-item">
            <a>gezonder recepten</a>            
          </li>
          <li class="upper-menu-list-item">
            <a> artikels</a>
          </li>
          <li class="upper-menu-list-item">
            <a routerLink="/courses">happy plate academy</a>
          </li>
          <li class="upper-menu-list-item">
            <a>About us</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</section>
