<header class="container-fluid header-wrapper">  
  <div class="container header-container" [style.padding.px]="blnNarrow ? '0' : '5'">
    <div class="row justify-content-center header-row">
      <div class="col-12 header-column">
        <div class="header-brand-container">
          <a routerLink="/blog"><span class="header-brand-container-logo">Happy Plate</span></a>
        </div>
        <div class="header-content" [class.header-content--loggedin]="blnLoggedIn">
          <ul class="navbar-nav mr-auto" style="flex-direction: unset !important;">
            <li *ngIf="blnLoggedIn" class="nav-item dropdown position-relative mr-5">              
              <a class="" id="navbarDropdownNotifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
              <div class="dropdown-menu dropdown-menu--notifications" aria-labelledby="navbarDropdownNotifications">
                <div class="dropdown-item">
                  <ul role="menu" class="notificationsList">
                    <li class="list-item notificationsList-item notificationsList-item--status text-center">nog geen meldingen</li>                    
                  </ul>
                </div>                
                <div class="popover-arrow popover-arrow--notifications"></div>
              </div>              
            </li>            
            <li *ngIf="blnLoggedIn" class="nav-item dropdown position-relative">              
              <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt"></i></a> <!---->
              <div class="dropdown-menu dropdown-menu--profile" aria-labelledby="navbarDropdown">
                <div class="popover-inner">
                  <ul role="menu" class="list list--borderless list--short list--large">
                    <li class="list-item" routerLink="#">Word een member</li>
                    <li class="list-item list-item--separator"></li>
                    <li class="list-item" routerLink="/profile">profiel</li>
                    <li class="list-item" routerLink="/settings">settings</li>
                    <li class="list-item" routerLink="/help">help</li>
                    <li class="list-item" (click)="onLogout()">log uit</li>
                  </ul>
                </div>                
                <div class="popover-arrow"></div>
              </div>              
              <!-- <a class="ml-3" (click)="onLogout()"><i class="fas fa-sign-out-alt"></i></a> -->
            </li>            
            <li *ngIf="!blnLoggedIn" class="nav-item">
              <div class="header-content-getstarted">
                <a class="cta getstarted-cta" routerLink="/create-account">Join ons!</a>            
              </div>
            </li>
          </ul>          
          <!-- <div class="header-content-logout">
            
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container upper-menu-container" [style.padding.rem]="blnNarrow ? '0' : '1'">
    <div class="row p-0">
      <div class="col-12 upper-menu">
        <ul class="d-block d-md-flex upper-menu-list p-0 m-0">
          <li class="d-block d-md-inline-block upper-menu-list-item">
            <a routerLink="/recipes">gezonder recepten</a>            
          </li>
          <li class="d-block d-md-inline-block upper-menu-list-item">
            <a routerLink="/articles">artikels</a>
          </li>
          <li class="d-block d-md-inline-block upper-menu-list-item">
            <a routerLink="/courses">happy plate academy</a>
          </li>
          <li class="d-block d-md-inline-block upper-menu-list-item">
            <a routerLink="/community">Community</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</header>